body{
	background-image: url("../pix/2wood.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
}

ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0%;
	width: 100%;
	background-color:black;
	font-family: geneva;
	letter-spacing: 2px;
	font-size: 10px;
	text-align:center;
}

li{
	display:inline-block;
}

li a{
	padding: 12px 16px;
	text-decoration: none;
	color:white;
	text-align: center;
	display: block;
}

li a:hover{
	background-color:#C40003;
}


h1{
	color: white;
	text-align: center;
	text-transform: none;
	font-variant: small-caps;
	text-shadow: 5px 5px 10px black;
	font-family: palatino;
	font-size: 50px;
	padding: 120px;
	
}

.document{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 127px;
}

footer{
	 color: white;
	 text-align:center;
	 text-shadow: 5px 5px 10px black;
}